header
{
    background-color: #4180a6;
    text-align: center;
    font-size: 300%;
    height: 100%;
    font-family: arial;
    color: rgb(255, 255, 255);
    font-weight: 900;
}
footer
{
    background-color: #4180a6;
    text-align: center;
    font-size: 100%;
    height: 100%;
    font-family: arial;
    color: rgb(255, 255, 255);
}
body
{
    background-color: 	#202020;
    padding: 0;
    margin: 0;
}
h1
{
    padding-left: 3%;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: arial;
    background-color:  #4180a6;
    border-radius: 100px;
}
p
{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: arial;
    text-align: justify;
    text-indent: 2%;
}
a
{
    line-break: anywhere;
    text-align: justify;
    color: rgb(255, 255, 255);
    font-size: 35px;
    color: rgb(0, 255, 13);
    font-family: arial;
    text-underline-offset: 5000000000000px;
}
h2
{
    padding-left: 2%;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: arial;
    background-color:  #474646;
    border-radius: 1000px;
    margin-left: 2%;
    margin-right: 2%;
}
li
{
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: arial;
    text-align: justify;
    margin-right: 5%;
    margin-left: 4%;
}